{% extends 'layout/base.html.twig' %}

{% block title 'Panterest' %}

{% block body %}
{# pluralize est une fonction twig que nous avons créé dispo dans /src/Twig/pluralizeExtension.php #}
{#elle prend 3 arguments(int, str, str[optionael]#}
<h1>Vous avez {{pluralize(pans|length, 'Pan')}} !</h1>
{% for pan in pans %}
    <article>
        <h2><a href="{{path('app_pans_show', {id: pan.id})}}">{{pan.title}}</a></h2>
        <p>{{pan.description|u.truncate(50, '...', false)}}</p>
        <p class="text-muted">il y à : {{pan.createdAt|ago}}</p>
    </article>
{% endfor %}
{% endblock %}
